* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.navigation {
  background: #222222;
}

.navigation__list {
  display: flex;
  gap: 859px;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 1600px;
  margin: 0 auto;
}

.navigation__list_block-left {
  display: flex;
  gap: 41px;
}

.navigation__list_block-right {
  display: flex;
  gap: 33px;
}
.navigation__list_btn {
  background: #222222;
  border: none;
}
.navigation__dropdown {
  position: relative;
  display: inline-block;
}
.navigation__dropdown_content {
  display: none;
  position: absolute;
  left: 167px;
  margin-top: 22px;
  background-color: #f1f1f1;
  min-width: 232px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__dropdown_content a {
  text-decoration: none;
  display: block;
}
.navigation__dropdown_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 32px;
  margin-bottom: 24px;
}
.navigation__dropdown_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-left: 32px;
  margin-bottom: 12px;
}
.navigation__dropdown_link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 54px;
  margin-bottom: 11px;
}
.navigation__dropdown_link-last {
  margin-bottom: 20px;
}
.navigation__dropdown_link:last-child {
  margin-bottom: 0;
}
.navigation__dropdown:hover .navigation__dropdown_content {
  display: block;
}

.banner {
  background: #f1e4e6;
  margin-bottom: 65px;
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 1600px;
  margin: 0 auto;
}

.banner__title {
  display: flex;
  border-left: 12px solid #f16d7f;
  height: 93px;
  width: 405px;
  padding-left: 16px;
  align-items: center;
  margin-right: 331px;
}

.product-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 30px;
}

.product-group__card {
  display: flex;
  width: 360px;
  height: 260px;
  justify-content: center;
  align-items: center;
}

.product-group__card-women {
  background-image: url(./img/women-offer-bg.png);
}

.product-group__card-men {
  background-image: url(./img/men-offer-bg.png);
}

.product-group__card-kids {
  background-image: url(./img/kids-offer-bg.png);
}

.product-group__card-assesories {
  background-image: url(./img/assesories-offer-bg.jpg);
  grid-row: 2/3;
  grid-column-start: span 3;
  background-repeat: no-repeat;
  height: 180px;
  width: 1140px;
}

.products__title h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-top: 96px;
}

.products__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 6px;
}

.products__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 48px;
  gap: 30px;
}

.product__cards_item {
  background: #f8f8f8;
  position: relative;
}

.products-cards-btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.products__cards_btn-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.products__cards_btn {
  display: none;
  position: absolute;
  top: 188px;
  right: 111px;
  bottom: 350px;
  left: 111px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
}
.product__cards_item:hover .products__cards_btn {
  display: block;
  z-index: 2;
}
.products__cards_btn:active {
  background-color: #f16d7f;
  color: #ffffff;
}

.products__cards_img {
  position: relative;
}
.products__cards_img-filter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 56, 56, 0.86);
}
.product__cards_item:hover .products__cards_img-filter {
  content: "";
  height: 420px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 56, 56, 0.86);
}

.products__cards_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 13px;
  margin-left: 18px;
}

.products__cards_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  width: 315px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.products__cards_price {
  width: 53px;
  height: 19px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-left: 18px;
  margin-bottom: 20px;
}

.product__button {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 60px;
}

.product__button_btn {
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  text-align: center;
  background-color: #ffffff;
}

.product__button_btn:hover{
  background-color: #f26376;
  color: #ffffff;
}

.advantages__wrapper {
  background: #222224;
}

.advantages__list {
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding-top: 103px;
  padding-bottom: 104px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item_img-dilivery {
  margin-bottom: 28px;
}

.advantages__item_img-sales {
  margin-bottom: 19px;
}

.advantages__item_img-quality {
  margin-bottom: 25px;
}

.advantages__item_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
}

.advantages__item_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  width: 360px;
  padding: 0 30px;
}
.subscribe__wrapper {
  background-image: url(./img/subscribe__bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 448px;*/
}

.subscribe__content {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.subscribe__article {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe__article_author {
  margin-top: 97px;
  margin-bottom: 30px;
}
.subscribe__artisle_quote {
  margin-bottom: 126px;
  width: 360px;
  height: 99px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.subscribe__form_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  width: 551px;
}
.subscribe__form_title {
  font-family: "Lato";
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  font-weight: 700;

  width: 551px;
}
.subscribe__input {
  display: flex;
  grid-template-columns: 256px 100px;
  margin-top: 32px;
}

.subscribe__input_fild {
  width: 256px;
  height: 49px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #e1e1e1;
  border: none;
  padding: 7px 64px 6px 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.subscribe__input_btn {
  width: 100px;
  height: 49px;
  border: none;
  background: #f16d7f;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.footer__wrapper {
  background-color: #222224;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px 23px 32px;
}
.footer__copyright {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
svg{
  fill: #ffffff;
}
.footer__link_img-svg{
  fill: #000000;
}
.footer__list_link:hover svg{
  fill: #f26376;
}
.footer__list_link:hover 
.footer__link_img-svg{
  fill: #ffffff;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navigation__list {
    gap: 424px;
    width: 768px;
    height: 74px;
  }

  .banner__wrapper {
    width: 768px;
    justify-content: space-between;
    gap: 39px;
  }

  .banner__img {
    width: 386px;
    height: 368px;
  }

  .banner__title {
    width: 283px;
    height: 78px;
    gap: 39px;
    margin-right: 34px;
  }

  .container {
    width: 736px;
  }

  .product-group {
    gap: 20px;
  }

  .product-group__card {
    width: 231px;
    height: 167px;
    background-size: contain;
  }

  .product-group__card-assesories {
    width: 735px;
    height: 116px;
  }

  .products__title {
    margin-top: 110px;
  }

  .products__text {
    margin-top: 3px;
  }

  .products__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 74px;
  }

  .product__cards_item {
    width: 360px;
  }

  .product__button {
    margin-top: 33px;
    margin-bottom: 71px;
  }

  .advantages__list {
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;
    gap: 48px;
    align-items: center;
  }
  .subscribe__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 219px;
  }
  .subscribe__form {
    margin-top: 48px;
  }
  .subscribe__artisle_quote {
    margin-bottom: 0;
  }
  .footer__content {
    padding: 24px 32px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation__list {
    width: 375px;
    height: 74px;
    gap: 200px;
    justify-content: space-between;
  }
  .navigation__list_block-left {
    margin-left: 16px;
    gap: 41px;
  }
  .navigation__list_img-personal {
    display: none;
  }

  .navigation__list_img-basket {
    display: none;
  }

  .banner__wrapper {
    width: 375px;
    height: 363px;
    position: relative;
  }

  .banner__img {
    display: none;
  }

  .banner__title {
    width: 263px;
    height: 66px;
    position: absolute;
    left: 56px;
  }

  .container {
    width: 343px;
  }

  .product-group {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .product-group__card {
    width: 343px;
    height: 247px;
  }

  .product-group__card-assesories {
    height: 111px;
  }

  .products__title {
    margin-top: 95px;
  }

  .products__cards {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    margin-top: 65px;
  }

  .products__cards_text {
    margin-left: 16px;
  }

  .product-button {
    margin-top: 41px;
    margin-bottom: 85px;
  }
  .advantages__list {
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 81px;
    gap: 47px;
    align-items: center;
  }
  .subscribe__content {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 110px;
  }
  .subscribe__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 219px;
  }
  .subscribe__form {
    margin-top: 59px;
  }
  .subscribe__artisle_quote {
    margin-bottom: 0;
  }
  .subscribe__form_text {
    font-size: 14px;
  }
  .footer__content {
    flex-direction: column-reverse;
    padding: 43px 9px;
    gap: 40px;
    align-items: center;
  }
}
